<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.benpaoba.freerun"
    android:versionCode="6"
    android:versionName="0.3" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
     <!-- 用户登录时，网络接入权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	
	<!-- SDK2.1新增获取用户位置信息  -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:name="com.benpaoba.freerun.RunningApplication"
        android:allowBackup="true"
        android:theme="@android:style/Theme.Holo.Light"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="spzmcL3MMYZre6UvY2kUV6Pq" />
        <meta-data android:name="UMENG_APPKEY"
            android:value="55233badfd98c55f9d000896"/>
        <meta-data android:name="UMENG_CHANNEL"
            android:value="Channel ID" />
       
        <!-- QQ 接入配置 -->
        <activity
			android:name="com.tencent.tauth.AuthActivity" 
			android:noHistory="true" 
			android:launchMode="singleTask" >
				<intent-filter>
					<action android:name="android.intent.action.VIEW" />
					<category android:name="android.intent.category.DEFAULT" />
					<category android:name="android.intent.category.BROWSABLE" />
					<data android:scheme="tencent1104450496" />
				</intent-filter>
		</activity>
		
		<!-- QQ 开发SDK_V2.0后，引入了AssistActivity， 该应用的配置 -->
        <activity 
            android:name="com.tencent.connect.common.AssistActivity"
			android:theme="@android:style/Theme.Translucent.NoTitleBar"
			android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="com.benpaoba.freerun.RunningMainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <service
            android:name="com.benpaoba.freerun.LocationService"
            />
        <activity
            android:name="com.benpaoba.freerun.HistoryDetailsActivity"
           android:label="@string/sports_details" >
        </activity>
        <provider 
            android:name=".database.FreeRunContentProvider"
            android:authorities="com.benpaoba.freerun.contentprovider"
            android:exported="false" >
            
        </provider>
        
        <activity 
            android:name="com.benpaoba.freerun.LoginAndProfileInfo"
            android:theme="@android:style/Theme.NoTitleBar"
            android:launchMode="singleTop">
            
            <intent-filter >
               <action android:name="com.benpaoba.freerun.CHECKPROFILEINFO"/>
               <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            
        </activity>
<!-- 
        android:theme="@android:style/Theme.NoTitleBar"
 -->
        <activity 
            android:name="com.benpaoba.freerun.EditUserInfo"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:label="编辑个人资料"
            android:launchMode="singleTop">
            <intent-filter >
                <action android:name="com.benpaoba.freerun.EDITUSERINFO"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity 
            android:name="com.benpaoba.freerun.RunHistoryRecord"
            android:label="@string/record_history">
            <intent-filter >
                <action android:name="com.benpaoba.freerun.CHECKRECORD"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity 
            android:name="com.benpaoba.freerun.MoreSetupChoice"
            android:icon="@android:color/holo_green_light"
            android:label="更多"
            android:launchMode="singleTop">
            <intent-filter >
                <action android:name="com.benpaoba.freerun.SETUP"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>
        <activity 
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
    </application>

</manifest>
